* {
  box-sizing: border-box;
}

body {
  background: #FFC568;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  width: 500px;
  height: 200px;
  position: relative;
}

.line {
  stroke: #fff;
  stroke-width: 8;
}

.lttr {
  fill: #763C8C;
}

/* Proposal */
.proposal {
  text-align: center;
  color: #763C8C;
}

.hidden {
  display: none;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#yesBtn {
  background: #fa4843;
  color: white;
}

#noBtn {
  background: #763C8C;
  color: white;
}

.final {
  text-align: center;
  color: #763C8C;
}